
:root{
    --main-bg-color: #ffffff;
    --header-bg-color : #a8d6bc;
    --text-color : #3b3b3b;
    --text-color-title : #10793f;
    --dark-color : #0c6132;
    --light-color : #7BBA96;
}


*{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--text-color);
    font-size: 1.6vw;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}

.profile{
    width: 20vw;
    border-radius: 80%;
    border: 0.3vw solid  var(--text-color);

}

.h1{
    /* font-weight: bold; */
    font-size: 4vw;

    width: 100%;

    border-bottom: 0.3vw solid  var(--text-color);

    font-family: 'Abril Fatface', cursive;

}

.h2{
    /* font-weight: bold; */
    text-transform: uppercase;
    font-size: 2.5vw;
}

header {
    display: flex;
    background-color: var(--header-bg-color);
    width: 100vw;
    height: 25vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    color: var(--text-color);

}

header>.left{
    width: 30vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
}
header>.right{
    width: 65vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-right: 5vw;
}

header>.right>*{
    margin: 0.5vw 0;
    text-align: center;
}

.sub-title{
    /* font-family: 'Abril Fatface', cursive; */
    font-size: 1.8vw;
    font-weight: 500;
    color: var(--text-color-title);
}
.sub-title>*
{
    color: var(--text-color-title);
}

.sub-content{
    margin-left: 3vw;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 100vw;
    height: 114vw;
    padding-top: 2vw;

}


.category{
    width: 46vw;
    padding: 0 2vw;
}


.category>*{
    margin-bottom: 1vw;
}


.category>.title{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    border-bottom: 0.3vw solid var(--dark-color);
}
.category>.title>img{
    width: 3vw;
    height: 3vw;
    margin-right: 2.5vw;
    margin-bottom: 0.2vw;
}
.category>.title>span{
    /* font-family: 'Abril Fatface', cursive; */
    font-size: 2.5vw;
    font-weight: 700;
    
    text-transform: uppercase;
    color: var(--dark-color);
}

.category>.content{
    display: flex;
    flex-direction: row;
    justify-content: content;
    align-items: start;
    width: 100%;
}
.category>.content-no-date{
    width: 100%;
}
.category>.content>.left{
    width: 25%;
    text-align: center;

    padding-top: 0.5vw;
}

.category>.content>.right{
    width: 75%;
    text-align: justify;
}


.category>.content-chart{
    width: 100%;
}

.content-chart>.chart{
    width: 100%;
    height: 3.9vw;
    /* set space between lines */
    line-height: 1.6vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0.4vw 0; */
}
.chart>span{
    width: 33%;
}
.chart>input[type="range"]{
    width: 67%;
    
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    background-color: transparent;
   
 }
 input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 1.0vw;
  }


ul{
    margin: 0;
}